/target/
*.classpath
*.project
*.settings
/bills-security/target/
/bills-security/*.classpath
/bills-security/*.project
/bills-security/*.settings

/bills-dao/target/
/bills-dao/*.classpath
/bills-dao/*.project
/bills-dao/*.settings

/bills-business/target/
/bills-business/*.classpath
/bills-business/*.project
/bills-business/*.settings

/bills-api-navires/target/
/bills-api-navires/*.classpath
/bills-api-navires/*.project
/bills-api-navires/*.settings

/bills-api-dossiers/target/
/bills-api-dossiers/*.classpath
/bills-api-dossiers/*.project
/bills-api-dossiers/*.settings